HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Python virtual environment
venv/
defect-detection-api/venv/

# Python cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/

# FastAPI/Flask uploads or logs
*.log
instance/
*.db
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Ignore node_modules if you later add frontend
node_modules/

